.person-detail+ul.post-list {
  padding-bottom: 1rem;
  min-height: auto;
  background-color: #FFFFFF;
}

.person-detail {
  padding: 1rem 0;
  text-align: center;
}

.person-detail .avatar {
  overflow: hidden;
  border-radius: 50%;
}

.person-detail .avatar .img {
  padding: 0 20px;
  border-radius: 50%;
  overflow: hidden;
}

.person-detail .avatar>* {
  display: block;
}

.person-detail .avatar span {
  margin-bottom: 1rem;
  color: #333333;
  font-size: 1.5em;
}

.person-detail ul.status {
  display: flex;
  flex-direction: row;
  margin: 0;
  border-bottom: 1px solid #CCCCCC;
}

.person-detail ul.status li {
  display: inline-flex;
  flex: auto;
  min-width: 25%;
}

.person-detail ul.status li a {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 4rem;
  color: #333333;
}

.person-detail ul.status li a .NO {
  color: #808080;
}

.person-detail .board {
  padding: 1rem 0;
  border-bottom: 1px solid #CCCCCC;
}
